<div class="row">
    <div>
        <p>Label test.</p>
        <form method="Post">
            <p>
                <label for="text1">blob Uri:</label>
                <input type="text" name="blob" size="500" />
                <label for="text1">Label Id:</label>
                <input type="text" name="labelId" size="500" value="9e16d734-3b34-49ca-870b-8a711d4c5a3d" />
            </p>
            <input type="submit" name="btn0" value="Get Labels" formaction="/home/GetLabels" />
            <input type="submit" name="btn1" value="IsProtected" formaction="/home/IsProtected" />
            <input type="submit" name="btn2" value="Remove Label" formaction="/home/RemoveLabel" />
            <input type="submit" name="btn3" value="Set Label" formaction="/home/SetLabel" />
        </form>
    </div>
</div>